.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {

    background-color: white;
    padding: 30px;
    border: 4px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

label {
    font-size: 32px;
}

input {
    width: 500px;
    align-self: center;
}

.error-message {
    color: red;
}

input:invalid,
input[class="invalid"] {
    border: 2px solid red;
}

input[type="button"] {
    font-weight: 600;
    height: 60px;
    width: 300px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: skyblue;
}