* {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    background-color: lightcyan;
}

.page {
    display: flex;
    flex-direction: row;
}

.right {
    margin-left: auto;
    margin-right: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 800px;
    flex-wrap: wrap;
    border: 5px solid grey;
    margin: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 32px;
    margin-bottom: 5px;
}

.level {
    font-size: 20px;
    margin-top: 5px;
}

.list {
    display: flex;
    list-style: none;
}

.list .image {
    height: 90px;
    width: 90px;
}
