/** General Content **/

body {
    margin: 0px;
    background-color:aliceblue;
    font-size: 30px;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.generic-button {
    width: 200px;
    font-size: 30px;
    border: 2px solid azure;
    border-radius: 10px;
    background-color:dodgerblue;
    padding: 5px;
    color: azure;
    cursor: pointer;
    align-self: center;
}

.generic-button:hover {
    background-color: mediumblue;
}

/** Navigation Bar **/
.nav-bar {
    font-size: 30px;
    font-weight: 500;
    background-color:grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar-left,
.nav-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar-left > .logo {
    font-size: 42px;
}

.nav-bar-left > a,
.nav-bar-right > a {
    padding: 5px;
    color: black;
}

.nav-bar-left > a:hover,
.nav-bar-right > a:hover {
    color: azure;
}

.nav-bar-right >  {
    border-radius: 5px;
}

.nav-bar-right > button {
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    border: 2px solid azure;
    border-radius: 5px;
    background-color: lightgreen;
    color: green;
}

.nav-bar-right > button:hover {
    border: 2px solid lightgreen;
    background-color: green;
    color: azure;
}

.nav-bar-right > button.log-out {

    border: 2px solid darkred;
    background-color: pink;
    color: black;
}

.nav-bar-right button.log-out:hover {
    color: azure;
    background-color: darkred;
}

/** Landing Page **/

.landing-page > * {
    text-align: center;
    width: 50vw;
}

/** Log in, Sign up, Password Reset Page **/

.sign-up > form, 
.log-in > form,
.password-reset > form {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up > form > div,
.log-in > form > div,
.password-reset > form > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sign-up > form input,
.log-in > form input,
.password-reset > form input {
    font-size: 32px;
}

.password-reset > form > button {
    width: 400px;
}

.sign-up > .sign-up-footer,
.log-in > .log-in-footer,
.password-reset > .password-reset-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sign-up-failed,
.log-in-failed,
.password-reset-failed {
    color: red;
    font-weight: 600;
}

.password-reset-message {
    color: green;
    font-weight: 600;
}

/** Profile Page **/

.profile > .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile > button {
    width: 400px;
}