.slate-50 {
  background-color: #f8fafc;
}

.slate-100 {
  background-color: #f1f5f9;
}

.slate-200 {
  background-color: #e2e8f0;
}

.slate-300 {
  background-color: #cbd5e1;
}

.slate-400 {
  background-color: #94a3b8;
}

.slate-500 {
  background-color: #64748b;
}

.slate-600 {
  background-color: #475569;
}

.slate-700 {
  background-color: #334155;
}

.slate-800 {
  background-color: #1e293b;
}

.slate-900 {
  background-color: #0f172a;
}

.text-slate-50 {
  color: #f8fafc;
}

.text-slate-100 {
  color: #f1f5f9;
}

.text-slate-200 {
  color: #e2e8f0;
}

.text-slate-300 {
  color: #cbd5e1;
}

.text-slate-400 {
  color: #94a3b8;
}

.text-slate-500 {
  color: #64748b;
}

.text-slate-600 {
  color: #475569;
}

.text-slate-700 {
  color: #334155;
}

.text-slate-800 {
  color: #1e293b;
}

.text-slate-900 {
  color: #0f172a;
}

.border-slate-50 {
  border: 2px solid #f8fafc;
}

.border-slate-100 {
  border: 2px solid #f1f5f9;
}

.border-slate-200 {
  border: 2px solid #e2e8f0;
}

.border-slate-300 {
  border: 2px solid #cbd5e1;
}

.border-slate-400 {
  border: 2px solid #94a3b8;
}

.border-slate-500 {
  border: 2px solid #64748b;
}

.border-slate-600 {
  border: 2px solid #475569;
}

.border-slate-700 {
  border: 2px solid #334155;
}

.border-slate-800 {
  border: 2px solid #1e293b;
}

.border-slate-900 {
  border: 2px solid #0f172a;
}

.hover-slate-50:hover {
  background-color: #f8fafc;
}

.hover-slate-100:hover {
  background-color: #f1f5f9;
}

.hover-slate-200:hover {
  background-color: #e2e8f0;
}

.hover-slate-300:hover {
  background-color: #cbd5e1;
}

.hover-slate-400:hover {
  background-color: #94a3b8;
}

.hover-slate-500:hover {
  background-color: #64748b;
}

.hover-slate-600:hover {
  background-color: #475569;
}

.hover-slate-700:hover {
  background-color: #334155;
}

.hover-slate-800:hover {
  background-color: #1e293b;
}

.hover-slate-900:hover {
  background-color: #0f172a;
}

.hover-text-slate-50:hover {
  color: #f8fafc;
}

.hover-text-slate-100:hover {
  color: #f1f5f9;
}

.hover-text-slate-200:hover {
  color: #e2e8f0;
}

.hover-text-slate-300:hover {
  color: #cbd5e1;
}

.hover-text-slate-400:hover {
  color: #94a3b8;
}

.hover-text-slate-500:hover {
  color: #64748b;
}

.hover-text-slate-600:hover {
  color: #475569;
}

.hover-text-slate-700:hover {
  color: #334155;
}

.hover-text-slate-800:hover {
  color: #1e293b;
}

.hover-text-slate-900:hover {
  color: #0f172a;
}

.hover-border-slate-50:hover {
  border: 2px solid #f8fafc;
}

.hover-border-slate-100:hover {
  border: 2px solid #f1f5f9;
}

.hover-border-slate-200:hover {
  border: 2px solid #e2e8f0;
}

.hover-border-slate-300:hover {
  border: 2px solid #cbd5e1;
}

.hover-border-slate-400:hover {
  border: 2px solid #94a3b8;
}

.hover-border-slate-500:hover {
  border: 2px solid #64748b;
}

.hover-border-slate-600:hover {
  border: 2px solid #475569;
}

.hover-border-slate-700:hover {
  border: 2px solid #334155;
}

.hover-border-slate-800:hover {
  border: 2px solid #1e293b;
}

.hover-border-slate-900:hover {
  border: 2px solid #0f172a;
}

.generic-button,
.generic-button:active {
  border: 2px solid #1e293b;
  color: #e2e8f0;
  background-color: #1e293b;
}

.generic-button:hover {
  border: 2px solid #e2e8f0;
  background-color: #e2e8f0;
  color: #334155;
}

.generic-button-light {
  border: 2px solid #e2e8f0;
  background-color: #e2e8f0;
  color: #334155;
}

.generic-button-light:hover {
  color: #e2e8f0;
  background-color: #1e293b;
}
.generic-link {
  /*text-slate-200*/ 
  color: #e2e8f0;
}

.generic-link:hover {
  /*hover-text-slate-300*/
  color: #cbd5e1;
}

.generic-field {
  background-color: #1e293b;
  border: 2px solid #1e293b;
}

.generic-field:focus {
  background-color: #0f172a;
  border: 2px solid #1e293b;
}