body {
    margin: 0px;
    background-color:aliceblue;
    font-size: 30px;
}

/** Navigation Bar **/
.nav-bar {
    font-size: 30px;
    background-color:grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-bar-left,
.nav-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar-left > .logo {
    font-size: 42px;
}

.nav-bar-right > * {
    border-radius: 5px;
}

.nav-bar-left a,
.nav-bar-right a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav-bar-left a:hover,
.nav-bar-right a:hover {
    color: azure;
}

.nav-bar-right a {
    border: 2px solid azure;
    background-color: lightgreen;
}

.nav-bar-right a:hover {
    border: 2px solid lightgreen;
    background-color: green;
}

/** Landing Page **/

.landing-page {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page > * {
    text-align: center;
    width: 50vw;
}

/** Log in, Sign up, Password Reset Page **/

.log-in,
.sign-up,
.password-reset {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sign-up > form, 
.log-in > form,
.password-reset > form {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up > form > div,
.log-in > form > div,
.password-reset > form > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sign-up > form input,
.log-in > form input,
.password-reset > form input {
    font-size: 32px;
}

.sign-up > form > button,
.log-in > form > button,
.password-reset > form > button {
    width: 200px;
    font-size: 30px;
    border: 2px solid azure;
    border-radius: 10px;
    background-color:dodgerblue;
    padding: 5px;
    color: azure;
    align-self: center;
}

.password-reset > form > button {
    width: 400px;
}

.sign-up > form > button:hover,
.log-in > form > button:hover,
.password-reset > form > button:hover {
    background-color:mediumblue;
}

.sign-up > .sign-up-footer,
.log-in > .log-in-footer,
.password-reset > .password-reset-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sign-up-failed,
.log-in-failed,
.password-reset-failed {
    color: red;
    font-weight: 600;
}

.password-reset-message {
    color: green;
    font-weight: 600;
}