* {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color:black
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 5vh;
    background-color: gray;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.tabs {
    display: flex;
    align-items: flex-end;
}
.tab {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 0px;
    padding: 5px 30px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right a {
    padding: 10px;
}

.content {
    flex: 1 1 auto;
    background-color: darkgray;
}

footer {
    padding: 10px;
    background-color: gray;
    display: flex;
}

a {
    text-decoration: none;
}